<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quick Mail</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        {% if request.endpoint != 'home' %}
                        <a href="/" class="navbar-item">Home</a>
                        {% endif %}
                        {% if authorized %}
                        {% if request.endpoint != 'admin' %}
                        <a href="/admin" class="navbar-item">Administration</a>
                        {% endif %}
                        {% if request.endpoint != 'clear_history' %}
                        <a href="/clear_history" class="navbar-item">Recipients</a>
                        {% endif %}
                        <a href="/logout" class="navbar-item">Log out</a>
                        {% else %}
                        {% if request.endpoint != 'subscribe' %}
                        <a href="/subscribe" class="navbar-item">Subscribe</a>
                        {% endif %}
                        {% if request.endpoint != 'login' %}
                        <a href="/login" class="navbar-item">Log in</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>