{% extends "base.html" %}

{% block content %}
<div class="limited">

    <h3 class="title">Recipient History</h3>

    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        {% if recipients %}

        <ol>
            {% for recipient in recipients %}
            <li>{{ recipient }}</li>
            {% endfor %}
        </ol>
        <br>
        <hr>
        <form method="POST" action="/clear_history">
            <div>
                <div class="control">
                    <img src="/captcha" alt="CAPTCHA">
                </div>
                <div class="control">
                    <a href="{{ request.path }}">Try another</a>
                </div>
                <div class="control">
                    <input type="text" name="captcha" placeholder="Enter CAPTCHA">
                </div>
            </div>
            <button class="full-width">Clear history</button>
        </form>

        {% else %}
        <p>No recorded history of recipients</p>
        {% endif %}

    </div>
</div>
{% endblock %}