{% extends "base.html" %}

{% block content %}
<div class="limited">
    <h3 class="title">Quick Mail</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
    </div>
    <div class="story">
        <h1>How It Works</h1>
        <p>Once you submit your e-mail, you will receive a response with your designated token.<br>
            To send an e-mail, you simply make an HTTP GET or HTTP POST request to <br>"{{ request.url }}send" with parameters:</p>
        <ul>
            <li>token=&lt;Your user token&gt;</li>
            <li>msg=&lt;Html safe text message to send&gt;</li>
            <li>to=[Optional recipient email. If not supplied, history is used]</li>
            <li>sub=[Optional e-mail subject.]</li>
        </ul>

        <p>After sending at least one e-mail to save recipient history, the simplest URL to use would be:</p>
        <p>{{ request.url }}send?token=your_token&msg=Url_safe_text_message</p>
        <p>where the recipient list is used from history.</p>
        <p>To send to multiple addresses, you may use a comma separated list of e-mails for "to" parameter.</p>
        <br>
        <a href="https://github.com/ujagaga/Quick_mail">This is an open source solution you may use as you wish.</a>
    </div>
</div>
{% endblock %}