{% extends "base.html" %}

{% block content %}
<div class="limited">
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        <br>
        {% endif %}
        {% endwith %}
        {% if show_submit %}
        <p>Submit your email to retrieve your token.</p>
        <form method="POST" action="/resend_token">
            <div>
                <div class="control">
                    <input type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>
            <button class="full-width">Resend token</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}