{% extends "base.html" %}

{% block content %}
<div class="limited">
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        <br>
        {% endif %}
        {% endwith %}
        <h1>Submit your email to subscribe for quick mail service</h1>
        <form method="POST" action="/subscribe">
            <div>
                <div class="control">
                    <img src="/captcha" alt="CAPTCHA">
                </div>
                <div class="control">
                    <a href="{{ request.path }}">Try another</a>
                </div>
                <div class="control">
                    <input type="text" name="captcha" placeholder="Enter CAPTCHA">
                </div>
                <div class="control">
                    <input type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>
            <button class="full-width">Submit</button>
        </form>
    </div>
</div>
{% endblock %}